@import url(xmclients.css);
@import url(xmoffer.css);
@import url(xmabout.css);
@import url(xmcontact.css);
@import url(xmconstant.css);

/************************************/
/*****Xesus Magarinos 08/03/2006*****/
/*An explanation of the prop class technique used in this CSS can be found in the link below.*/
/*I have used this technique to set a minimun height of a container box*/
/*that it will expand when we increase the font size.*/
/*http://www.greywyvern.com/code/min-height-hack.html*/
/************************************/

body {
	background-color: #474960;
	color: #333;
	font-size: 0.8em;
	margin:0;
	padding:0;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
	}
.clear {
	clear: both;
	}
.clearleft {
	clear: left;
}
.hide {
	display: none;
}
.prop {
	height:530px; 
	float:right; 
	width:1px; 
	border: 0px solid yellow;
}
.skip {
	display: block;
	width:0;
	height:0;
	overflow: hidden;
}
form {
	margin: 0;
	padding:0;
}
#searchBtn {
	margin-left: 5px;
	}
#wrapper {
	border: 0px solid red;
	width: 748px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#topNavigation {
	border: 0px solid #fff;
	margin-top: 8px;
}
#topNavigation ul, #topNavigation li {
	margin: 0;
	padding: 0;
	text-align: right;
}
#topNavigation li {
	background:inherit;
	color: #fff;
	display: inline;
	list-style-type: none;
}
#topNavigation a:link, #topNavigation a:visited, 
#topNavigation a:hover, #topNavigation a:active {
	background-color: #474960;
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
}
#topNavigation a:hover {
	background-color: #474960;
	color:#00CCFF;
	text-decoration: underline;
	}
#topNavigation a.selected:link, 
#topNavigation a.selected:visited, 
#topNavigation a.selected:hover, 
#topNavigation a.selected:active{
	background-color: #474960;
	color:#00CCFF;
	text-decoration: none;
	}
#searchTerm {
	width: 113px;
	margin-left: 7px;
	}
#searchBtn {
	position:relative;
	top:3px;
}
#content {
	margin-top: 4px;
}
#left {
	float: left;
	width: 162px;
	background-color: #474960;
	color: #fff;
	padding-top: 125px;
}
address {
	border: 0px solid red;
	font-style: normal;
	margin-bottom: 10px;
}
#left p {
	margin: 0;
	padding: 0;
	}
#left img {
	border:0px;
	}
#right {
	background: #04B7E7 url(../files/images/XM_Home_fish-image.jpg) -1px 0px no-repeat;
	color: inherit;
	float: right;
	width: 586px;
	border: 0px solid red;
	/*background-color: red;*/
	}
#printButton {
	float: right;
	width: 150px;
	text-align: right;
	margin-top: 40px;	
	}

#printButton a,
#printButton a:link,
#printButton a:visited,
#printButton a:hover,
#printButton a:active {
	color: #fff;
	padding: 3px;
	text-decoration: none;
	background-color:#04b7e7;
	position:relative;
	right: 60px;
}
#printButton a:hover {
	text-decoration: underline;
}
#introText {
	background-color: #04B7E7;
	color: #fff;
	margin-top: 45px;
	float:left;
	width: 301px;
	padding-bottom: 15px;
	}
#right #introText h2, #right #introText p {
	margin:0;
	padding:0;
}
#right #introText h2 {
	font-size: 1.5em;
	font-weight: normal;
	}

#right #introText p { 
	margin: 10px 35px 0px 8px;
}

#bottom {
	color: #fff;	
	background-color: #474960;	
	border: 0px solid red;
	/*width: 586px;*/
	margin-left: 162px;
	}

#bottom ul, #bottom li {
	margin:0;
	padding:0;
	list-style-type: none;
}

#bottom #bottomLeft {
	float: left; 
	width: 300px;
	}
#bottom #bottomRight {
	float: right; 
	width: 270px;
	text-align: right;
	}

#bottom li {
	display: inline;
}
#bottom a:link, #bottom a:visited, #bottom a:hover, #bottom a:active {
	background-color: #474960;
	color: #fff;
	text-decoration: none; 
}
#bottom a:hover {
	text-decoration:underline; 
	}
#about #bottom, #aboutusSub #bottom, #constant #bottom, #contact #bottom,#find #bottom,
#clients #bottom, #clientsSub #bottom, #clientsCase #bottom, #offer #bottom, #offerSub #bottom {
	width: auto;
	margin-left: 0px;
}

/*Styles for printing*/

#printHeader, #printImage, #printText {
	float:left;
	}

#printImage,  #printText  {
	padding-top:5px;
	padding-left:0px;
	}
#printText  {
	padding-left:10px;
	}
.printCenter {
	text-align:center;
	}


