#contact #right, #find #right {
	background-image: none;
	background-color: #fff;
	color:inherit;
}
#contact #topContent, #find #topContent {
	background: #FFF url(../files/images/XM_L2_Contact_zebra-image.jpg) 4px 4px no-repeat;
		color:inherit;
	}
#contact #introText, #find #introText {
	background-color: #474960;
	color: #fff;
	margin-top: 35px;
	float:right;
	width: 261px;
	padding-bottom: 50px;
	}
#contact #right #introText p, #find #right #introText p{
	margin:0;
	padding:8px 95px 0px 12px;
}
#contact .prop, #find .prop {
	height: 344px;
	float: left;
	border: 0px solid yellow;
}
#contact #subContent {
	padding-left: 0px;
	margin-bottom: 0px;
}
#contact #subContentText {
	background-color: #fff;
	color:inherit;
	margin-right: 0px;
	padding: 0px;
}
#contact #contactText {
	background-color: #e5e5e5;
	color: inherit;
	float: left;
	width:288px;
	padding-top: 25px;
} 
#contact #contactText p {
	padding-left: 10px;
	padding-right: 20px;
}
#contact #contactForm {
	background-color: #fff;
	color:inherit;
	float: right;
	width: 288px;
	border: 0px solid red;
	padding-left: 10px;
}
#contactForm label {
	display: block;
}
#contactForm input,
#contactForm select,
#contactForm textarea {
	width: 250px;
 }
#contactForm #Send,
#contactForm #Reset {
	width: auto;
}
/*find us section*/

#find #subContent {
	border: 0px solid red;
	padding-top: 10px;
	padding-left: 0px;
	margin-bottom: 0px;
}
#find #subContentText {
	background-color: #fff;
	color:inherit;
	margin-right: 0px;
	padding: 0px;
	}

#find #findText {
	background-color: #e5e5e5;
	color:inherit;
	float: left;
	width:215px;
	} 
#find #findText p {
	padding-left: 10px;
	padding-right: 20px;
}
#find #findText .findusHeader {
	color:inherit;
	background-color: #fff;
	padding-left: 0px;
	margin-bottom: 10px;
}
#find #findImage {
	float: right;
	width: 371px;
	border: 0px solid red;
}
#find #findImage p {
	border: 0px solid blue;
	margin:0 0 0 10px;
	padding:0;
	}